#barchart{
    border: 1px solid black;
    width: 98%;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
